{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Sell numbers</th>
        <th scope="col">Ranking</th>
        <th scope="col">Living room</th>
        <th scope="col">Room numbers</th>
        <th scope="col">Beds numbers</th>
        <th scope="col">Bathroom numbers</th>
        <th scope="col">Years</th>
        <th scope="col">Acres of the land</th>
        <th scope="col">Taxes of the property</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td><a href="view/{{city.id}}">{{ city.Sell }}</a></td>
        <td>{{ city.List }}</td>
        <td>{{ city.Living }}</td>
        <td>{{ city.Rooms }}</td>
        <td>{{ city.Beds }}</td>
        <td>{{ city.Baths }}</td>
        <td>{{ city.Age }}</td>
        <td>{{ city.Acres }}</td>
        <td>{{ city.Taxes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}